services:
  influxdb:
    image: influxdb:2.7
    container_name: apple_watch_influxdb
    ports:
      - "8083:8083"
      - "8086:8086"
    healthcheck:
      test: ["CMD", "curl", "-sl", "-I", "http://localhost:8086/ping"]
    volumes:
      - influxdb:/var/lib/influxdb
  grafana:
    image: grafana/grafana:7.5.17
    container_name: apple_watch_grafana
    ports:
      - "3000:3000"
    links:
      - influxdb
    volumes:
      - grafana:/var/lib/grafana
      - ./grafana/:/etc/grafana/
volumes:
  influxdb:
  grafana:
